<div class="form-group">
	<label for="componentConfig_{request=netuno_table_uid}FieldShow__{data=parameter.key}">_{data=parameter.displayname}</label>
	<input id="componentConfig_{request=netuno_table_uid}LinkField__{data=parameter.key}" type="hidden" name="netuno_admin_component_configuration__{data=parameter.key}" value="_{data=parameter.value}" />
	<input id="componentConfig_{request=netuno_table_uid}FieldShow__{data=parameter.key}" type="text" name="netuno_admin_component_configuration__{data=parameter.key}_view" value="_{data=parameter.value}" size="50" disabled="disabled" />
	<button type="button" class="btn btn-default" onclick="netuno.link.add('_{request=netuno_table_uid}', '_{data=parameter.key}');">Add</button>
	<button type="button" class="btn btn-default" onclick="netuno.link.remove('_{request=netuno_table_uid}', '_{data=parameter.key}');">Remove</button>
</div>