<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            _{&lang=netuno.password.title}
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <i class="fa fa-key"></i> _{&lang=netuno.password.title}
            </li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <form id="netuno_password_change" role="form">
            <div class="form-group">
                <label for="netuno_password_change_verifypassword">_{&lang=netuno.password.label.old}</label>
                <input type="password" name="verifypassword" id="netuno_password_change_verifypassword" class="form-control" placeholder="_{&lang=netuno.password.label.old}" />
            </div>
            <div class="form-group">
                <label for="netuno_password_change_newpassword">_{&lang=netuno.password.label.new}</label>
                <input type="password" name="newpassword" id="netuno_password_change_newpassword" class="form-control" placeholder="_{&lang=netuno.password.label.new}" />
            </div>
            <div class="form-group">
                <label for="netuno_password_change_confirmpassword">_{&lang=netuno.password.label.confirm}</label>
                <input type="password" name="confirmpassword" id="netuno_password_change_confirmpassword" class="form-control" placeholder="_{&lang=netuno.password.label.confirm}" />
            </div>
            <div class="form-buttons">
                <button type="submit" id="netuno_password_change_submit" class="btn btn-primary">_{&lang=netuno.form.button.save}</button>
            </div>
            <div id="netuno_password"></div>
        </form>
    </div>
    <!-- <div class="col-sm-6">
        <form id="netuno_password_avatar" role="form">
            <div class="form-group">
                <input type="file" name="avatar_file" id="netuno_password_avatar_file" accept="image/*" data-text="_{&lang=netuno.password.avatar.field.defaulttext}" data-button="_{&lang=netuno.password.avatar.field.button}"/>
            </div>
        </form>
        <div id="netuno_password_avatar_preview"></div>
    </div> -->
</div>
<script>
(function () {
    var passwordChangeValidate = $('#netuno_password_change').validate({
        rules: {
            verifypassword: {
                required: true
            },
            newpassword: {
                required: true,
                minlength: 8
            },
            confirmpassword: {
                required: true,
                minlength: 8,
                equalTo: "#netuno_password_change_newpassword"
            }
        },
        messages: {
            verifypassword: {
                required: '_{&lang=netuno.password.msg.provide}'
            },
            newpassword: {
                required: '_{&lang=netuno.password.msg.provide}',
                minlength: '_{&lang=netuno.password.msg.length}'
            },
            confirmpassword: {
                required: '_{&lang=netuno.password.msg.provide}',
                minlength: '_{&lang=netuno.password.msg.length}',
                equalTo: '_{&lang=netuno.password.msg.notmatch}'
            }
        },
        submitHandler: function () {
            $.ajax({
                type: 'POST',
                url: 'Password_{netuno-config=extension}',
                data: $('#netuno_password_change').serialize(),
                success: function(response) {
                    netuno.contentLoaded($('#netuno_password').html(response));
                }
            });
        }
    });
    $('#netuno_password_change_submit').on('click', function() {
        if (passwordChangeValidate.valid()) {

        }
    });
    /*$('#netuno_password_avatar_file').change(function() {
        $('#netuno_password_avatar').ajaxForm({
            url: 'Password_{netuno-config=extension}',
            success: function (response) {
                $('#netuno_password').html(response);
                netuno.contentLoaded();
                $('#netuno_password_avatar').submit();
            }
        });
    });
    $('#netuno_password_avatar_preview').html('<img src="_{netuno-config=url-app-images}/avatar/_{data=user}.jpg?'+ new Date().getTime() +'"/>');*/
})();
</script>