
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/bootstrap.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery-form/jquery.form.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/underscore/underscore-min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/additional-methods.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/netuno/core.js?_{netuno-config=build-number}"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/netuno/login.js?_{netuno-config=build-number}"></script>
_{include=scripts_login}
</body>
</html>