<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="_{netuno-config=url-app-images}/icon.png?_{netuno-config=app}" type="image/x-icon"/>
    <link rel="shortcut icon" href="_{netuno-config=url-app-images}/icon.png?_{netuno-config=app}" type="image/x-icon"/>

    <title>_{netuno-config=title}</title>

    <link href="_{netuno-config=url-styles}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-styles}/sb-admin.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/toastr/toastr.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/datatables-tabletools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/datatables-plugins-bootstrap3/dist/css/datatables-plugins-bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/clockpicker/dist/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/summernote/dist/summernote.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/editor.md/css/editormd.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-scripts}/plugins/editor.md/css/editormd.preview.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-theme}/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="_{netuno-config=url-styles}/netuno.css?_{netuno-config=build-number}" rel="stylesheet" type="text/css" />
    _{include=styles}
    <script type="text/javascript" src="_{netuno-config=url-scripts}/netuno/base.js?_{netuno-config=build-number}"></script>
    <script type="text/javascript" src="Main.netuno?js=config"></script>
</head>
<body>
