target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.iml

.classpath
.project
.settings/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

node_modules/

javadoc
sample

nb-configuration.xml
nbactions-*.xml
nbactions.xml

*-config.json
h2*.jar
license*.json

dbs/*
db/*
logs/*.log
protect/out.map
protect/out.map
protect/out/artifacts/*
protect/out/proguard/*
protect/proguard/*
webapp

protect/out/artifacts/*
protect/out/proguard/*

!protect/out/artifacts/README.md
!protect/out/proguard/README.md

install/

!src/main/java/org/netuno/cli/install

src/main/resources/

