<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            _{&lang=netuno.user.title}
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-user"></i> _{&lang=netuno.user.title}
            </li>
        </ol>
    </div>
</div>

<form id="netuno_user_form" role="form" autocomplete="off">
    <div class="form-group">
        <h2>_{&lang=netuno.user.user}</h2>
        <select name="uid" id="netuno_user_form_user_uid" value="_{data=user.uid.value}" netuno-select-service="User_{netuno-config=extension}?service=json&allow_all=true&no_devs=true" placeholder="_{&lang=netuno.user.user.placeholder}" style="width: 100%;">
        </select>
    </div>
    <hr>

    <h2>_{&lang=netuno.user.add}</h2> <br>
    
    <div class="form-group">
        <label for="netuno_user_form_user_name">_{&lang=netuno.user.name}</label>
        <input type="text" name="name" id="netuno_user_form_user_name" value="_{&data=user.name.value}" size="50" maxlength="250" class="form-control" placeholder="_{&lang=netuno.user.name}" validation="required">
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <label for="netuno_user_form_user_username">_{&lang=netuno.user.username}</label>
                <input type="text" name="username" id="netuno_user_form_user_username" value="_{&data=user.username.value}" size="25" maxlength="50" class="form-control" placeholder="_{&lang=netuno.user.username}" validation="required" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <label for="netuno_user_form_user_password">_{&lang=netuno.user.password}</label>
                <input type="password" name="password" id="netuno_user_form_user_password" value="" size="25" maxlength="50" class="form-control" placeholder="_{&lang=netuno.user.password}" validation="_{data=user.password.validation}" autocomplete="new-password">
            </div>
        </div>
        <div class="col-xs-4">
            &nbsp;<br>
            <div class="form-group">
                <label for="netuno_user_form_no-pass">_{&lang=netuno.user.no_password}</label>
                <input type="checkbox" name="no_pass" id="netuno_user_form_no-pass" value="1" _{data=user.no_pass.checked}>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="netuno_user_form_user_mail">_{&lang=netuno.user.mail}</label>
        <input type="text" name="mail" id="netuno_user_form_user_mail" value="_{&data=user.mail.value}" size="50" maxlength="250" class="form-control" placeholder="_{&lang=netuno.user.mail}">
    </div>
    #if ($_auth.isDev())
    <div class="form-group">
        <label for="netuno_user_form_user_code">_{&lang=netuno.user.code}</label>
        <input type="text" name="code" id="netuno_user_form_user_code" value="_{&data=user.code.value}" size="50" maxlength="50" class="form-control" placeholder="_{&lang=netuno.user.code}">
    </div>
    #end
    <div class="form-group">
        <label for="netuno_user_form_user_group">_{&lang=netuno.user.group}</label>
        <select name="group_uid" id="netuno_user_form_user_group" value="_{data=user.group_uid.value}" netuno-select-service="Group_{netuno-config=extension}?service=json&no_devs=true" validation="required" style="width: 100%;">
        </select>
    </div>
    <div class="form-group">
        <label for="netuno_user_form_user_active">_{&lang=netuno.form.field.active.label}</label>
        <input type="checkbox" name="active" id="netuno_user_form_user_active" value="1" _{data=user.active.checked}>
    </div>
    <br>
    #if ($_auth.isProviderEnabled("ldap") || $_auth.isProviderEnabled("google") || $_auth.isProviderEnabled("github") || $_auth.isProviderEnabled("discord"))
    <h2>_{&lang=netuno.user.providers.title}</h2>
    <ul class="nav nav-tabs nav-justified">
        #if ($_auth.isProviderEnabled("ldap"))
        <li role="presentation"><a href="javascript: void(0);" id="netuno_user_providers_ldap_button">LDAP</a></li>
        #end
        #if ($_auth.isProviderEnabled("google"))
        <li role="presentation">
            <a href="javascript: void(0);" id="netuno_user_providers_google_button">
                #if ($data.get("user.providers.google.moment"))<b>#end
                Google
                #if ($data.get("user.providers.google.moment"))</b>#end
            </a>
        </li>
        #end
        #if ($_auth.isProviderEnabled("github"))
        <li role="presentation">
            <a href="javascript: void(0);" id="netuno_user_providers_github_button">
                #if ($data.get("user.providers.github.moment"))<b>#end
                GitHub
                #if ($data.get("user.providers.github.moment"))</b>#end
            </a>
        </li>
        #end
        #if ($_auth.isProviderEnabled("discord"))
        <li role="presentation">
            <a href="javascript: void(0);" id="netuno_user_providers_discord_button">
                #if ($data.get("user.providers.discord.moment"))<b>#end
                Discord
                #if ($data.get("user.providers.discord.moment"))</b>#end
            </a>
        </li>
        #end
    </ul>
    #if ($_auth.isProviderEnabled("ldap"))
    <div id="netuno_user_providers_ldap_container" class="netuno-user-providers-container" style="display: none;">
        <div class="form-group">
            <label for="netuno_user_providers_ldap_active">_{&lang=netuno.user.providers.ldap.active.label}</label>
            <input type="checkbox" name="provider_ldap_active" id="netuno_user_providers_ldap_active" value="1" _{data=user.providers.ldap.active.checked}>
        </div>
    </div>
    #end
    #set ($formatAuthProviderMoment = $_time.simpleDateFormat("yyyy-MM-dd HH:mm:ss"))
    #if ($_auth.isProviderEnabled("google"))
    <div id="netuno_user_providers_google_container" class="netuno-user-providers-container" style="display: none;">
        #if ($data.get("user.providers.google.moment"))
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.moment.label}:</label>
            <span>$formatAuthProviderMoment.format($data.getSQLTimestamp("user.providers.google.moment"))</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.code.label}:</label>
            <span>_{data=user.providers.google.code}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.name.label}:</label>
            <span>_{data=user.providers.google.name}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.username.label}:</label>
            <span>_{data=user.providers.google.username}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.email.label}:</label>
            <span>_{data=user.providers.google.email}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.avatar.label}:</label>
            #if ($data.getString("user.providers.google.avatar") != "")
            <div><a href="_{data=user.providers.google.avatar}" target="_blank"><img src="_{data=user.providers.google.avatar}" width="100" height="100"/></a></div>
            #end
        </div>
        #else
        <div class="form-group">
            _{&lang=netuno.user.providers.msg.no_data}
        </div>
        #end
    </div>
    #end
    #if ($_auth.isProviderEnabled("github"))
    <div id="netuno_user_providers_github_container" class="netuno-user-providers-container" style="display: none;">
        #if ($data.getString("user.providers.github.moment") != "")
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.moment.label}:</label>
            <span>$formatAuthProviderMoment.format($data.getSQLTimestamp("user.providers.github.moment"))</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.code.label}:</label>
            <span>_{data=user.providers.github.code}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.name.label}:</label>
            <span>_{data=user.providers.github.name}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.username.label}:</label>
            <span>_{data=user.providers.github.username}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.email.label}:</label>
            <span>_{data=user.providers.github.email}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.avatar.label}:</label>
            #if ($data.getString("user.providers.github.avatar") != "")
            <div><a href="_{data=user.providers.github.avatar}" target="_blank"><img src="_{data=user.providers.github.avatar}" width="100" height="100"/></a></div>
            #end
        </div>
        #else
        <div class="form-group">
            _{&lang=netuno.user.providers.msg.no_data}
        </div>
        #end
    </div>
    #end
    #if ($_auth.isProviderEnabled("discord"))
    <div id="netuno_user_providers_discord_container" class="netuno-user-providers-container" style="display: none;">
        #if ($data.getString("user.providers.discord.moment") != "")
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.moment.label}:</label>
            <span>$formatAuthProviderMoment.format($data.getSQLTimestamp("user.providers.discord.moment"))</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.code.label}:</label>
            <span>_{data=user.providers.discord.code}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.name.label}:</label>
            <span>_{data=user.providers.discord.name}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.username.label}:</label>
            <span>_{data=user.providers.discord.username}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.email.label}:</label>
            <span>_{data=user.providers.discord.email}</span>
        </div>
        <div class="form-group">
            <label>_{&lang=netuno.user.providers.avatar.label}:</label>
            #if ($data.getString("user.providers.discord.avatar") != "")
            <div><a href="_{data=user.providers.discord.avatar}" target="_blank"><img src="_{data=user.providers.discord.avatar}" width="100" height="100"/></a></div>
            #end
        </div>
        #else
        <div class="form-group">
            _{&lang=netuno.user.providers.msg.no_data}
        </div>
        #end
    </div>
    #end
    <br>
    #end

    #if ($data.getBoolean("user.auth.history.latest"))
    <h2>
        _{&lang=netuno.user.auth.history.title}
        <button id="netuno-user-form-auth-history-button-modal_{util=requestuuid}" href="#"
           title="_{&lang=netuno.user.auth.history.button.info}"
           type="button" class="btn-auth-history"
           data-toggle="modal" data-target="#netuno-user-form-auth-history-modal-_{util=requestuuid}">
            <i class="fa-regular fa-clock"></i>
        </button>
    </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>IP:</label>
                <span>_{data=user.auth.history.latest.ip}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>_{&lang=netuno.user.auth.history.moment}:</label>
                <span>_{data=user.auth.history.latest.moment}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>_{&lang=netuno.user.auth.history.access}:</label>
                #if ($data.getBoolean("user.auth.history.latest.success"))
                    <span class="label label-success" title="_{&lang=netuno.user.auth.history.access.successful}"><i class="fa fa-check"></i></span>
                    #if ($data.getBoolean("user.auth.history.latest.unlock"))
                        <span class="label label-warning" title="_{&lang=netuno.user.auth.history.access.unlocked}"><i class="fa fa-unlock"></i></span>
                    #end
                #else
                    <span class="label label-warning" title="_{&lang=netuno.user.auth.history.access.denied}"><i class="fa fa-close"></i></span>
                    #if ($data.getBoolean("user.auth.history.latest.lock"))
                        <span class="label label-danger" title="_{&lang=netuno.user.auth.history.access.locked}"><i class="fa fa-lock"></i></span>
                        <button id="netuno-user-form-auth-history-button-unlock_{util=requestuuid}" href="#"
                                title="_{&lang=netuno.user.auth.history.button.unlock.info}"
                                type="button" class="btn-auth-history-unlock">
                            <i class="fa fa-unlock-alt"></i>
                        </button>
                        <div id="netuno-user-form-auth-history-button-unlock-response_{util=requestuuid}"></div>
                    #end
                #end
            </div>
        </div>
    </div>
    #end

    #if ($data.getString("user.uid.value"))
    <h2>_{&lang=netuno.user.rules.title}</h2>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="javascript: void(0);" id="netuno_user_form_rules_button">_{&lang=netuno.rules.forms}</a></li>
        <li role="presentation"><a href="javascript: void(0);" id="netuno_user_report_rules_button">_{&lang=netuno.rules.reports}</a></li>
    </ul>
    <div id="netuno_user_form_rules_container" class="netuno-rules-container" style="display: none;">
        <div class="row">
            <div class="col-xs-4"><b>_{&lang=netuno.rules.forms}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.active}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.read}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.write}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.delete}</b></div>
        </div>
        <hr/>
        <div id="netuno_user_form_rules"></div>
    </div>
    <div id="netuno_user_report_rules_container" class="netuno-rules-container" style="display: none;">
        <div class="row">
            <div class="col-xs-4"><b>_{&lang=netuno.rules.reports}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.active}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.read}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.write}</b></div>
            <div class="col-xs-2"><b>_{&lang=netuno.rules.delete}</b></div>
        </div>
        <hr/>
        <div id="netuno_user_report_rules"></div>
    </div>
    #end
    <div class="netuno-form-buttons">
        <button type="button" id="netuno_user_form_button_save" class="btn btn-primary"><i class="fa fa-check"></i> _{&lang=netuno.form.button.save}</button>
        <button type="button" id="netuno_user_form_button_new" class="btn btn-default">_{&lang=netuno.form.button.clear}</button>
        <button type="button" id="netuno_user_form_button_impersonate" class="btn btn-default"><i class="fa fa-unlock-alt"></i> _{&lang=netuno.form.button.impersonate}</button>
        <button type="button" id="netuno_user_form_button_delete" class="btn btn-link" data-toggle="modal" data-target="#netuno-user-form-delete-modal-_{util=requestuuid}">
            <span class="text-danger"><i class="fa fa-trash"></i> _{&lang=netuno.form.button.delete}</span>
        </button>
    </div>
    <div id="netuno-user-form-delete-modal-_{util=requestuuid}" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">_{&lang=netuno.user.button.delete.confirm.title}</h4>
                </div>
                <div class="modal-body">
                    <p>_{&lang=netuno.user.button.delete.confirm.text~data=user.name.value}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">_{&lang=netuno.form.button.no}</button>
                    <button type="button" class="btn btn-danger" id="netuno_user_form_button_delete_confirmed">_{&lang=netuno.form.button.yes}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="netunoUserResult"></div>
<div class="modal fade" id="netuno-user-form-auth-history-modal-_{util=requestuuid}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">_{&lang=netuno.user.auth.history.title}</h4>
            </div>
            <div class="modal-body" data-empty="_{&lang=netuno.user.auth.history.modal.empty}">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6" style="text-align: left;">
                        <button type="button" data-type="prev" class="btn btn-default"><span class="fa fa-arrow-left"></span> _{&lang=netuno.form.button.previous}</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" data-type="next" class="btn btn-default">_{&lang=netuno.form.button.next} <span class="fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        if (typeof netuno === 'undefined') {
            return;
        }
        var url = 'User_{netuno-config=extension}';
        var form = $('form#netuno_user_form');
        var formValidate = netuno.loadValidation(form);
        var container = form.parent();

        if ('_{request=uid}' == '') {
            $('#netuno_user_form_button_delete').hide();
            $('#netuno_user_form_button_impersonate').hide();
        }

        $('button#netuno_user_form_button_new').on('click', function () {
            $('#netuno_user_form_user_uid').val('');
            form.off("submit");
            form.ajaxForm({
                url: url + '?execute=new',
                success: function(response) {
                    container.html(response);
                    form = $('#netuno_user_form');
                    netuno.contentLoaded(container);
                }
            }).submit();
        });

        $('button#netuno_user_form_button_save').on('click', function () {
            if (formValidate.valid()) {
                form.ajaxForm({
                    url: url + '?execute=save',
                    success: function(response) {
                        container.html(response);
                        form = $('#netuno_user_form');
                        netuno.contentLoaded(container);
                    }
                }).submit();
            }
        });

        $('button#netuno_user_form_button_delete_confirmed').click(function() {
            modal = $('#netuno-user-form-delete-modal-_{util=requestuuid}');
            modal.on('hidden.bs.modal', function () {
                $.ajax({
                    type: 'POST',
                    url: url + '?execute=delete',
                    data: form.serialize(),
                    success: function(response) {
                        container.html(response);
                        form = $('#netuno_user_form');
                        netuno.contentLoaded(container);
                    }
                });
            });
            modal.modal('hide');
        });
        $('button#netuno_user_form_button_impersonate').click(function() {
            $.ajax({
                type: 'POST',
                url: url + '?service=impersonate',
                data: form.serialize(),
                success: function() {
                    window.location = 'Index_{netuno-config=extension}?impersonate='+ new Date().getTime();
                }
            });
        });

        var noPassCheckbox = $('#netuno_user_form_no-pass');
        $('#netuno_user_form_user_password').prop('disabled', noPassCheckbox.is(':checked'));
        noPassCheckbox.on('switchChange.bootstrapSwitch', function(event, state) {
            var that = $(this);
            $('#netuno_user_form_user_password').prop('disabled', state);
        });
        

        var providersCodes = ['ldap', 'google', 'github', 'discord'];
        providersCodes.forEach(function (providerCode) {
            var providerButton = $('a#netuno_user_providers_'+ providerCode +'_button');
            providerButton.click(function (e) {
                providersCodes.forEach(function (hideProviderCode) {
                    if (hideProviderCode == providerCode) {
                        return;
                    }
                    $('a#netuno_user_providers_'+ hideProviderCode +'_button').parent().removeClass('active');
                    $('div#netuno_user_providers_'+ hideProviderCode +'_container').hide();
                });
                $('a#netuno_user_providers_'+ providerCode +'_button').parent().addClass('active');
                $('div#netuno_user_providers_'+ providerCode +'_container').fadeIn();
            });
        });

        (function AuthHistory () {
            var historyModal = $("#netuno-user-form-auth-history-modal-_{util=requestuuid}");
            var historyPage = 0;
            function historyModalLoadPage() {
                var historyModalBody = historyModal.find(".modal-body");
                historyModalBody.load(url, {
                    service: 'auth-history',
                    page: historyPage,
                    uid: '_{request=uid}'
                }, ()=> {
                    netuno.contentLoaded(historyModalBody);
                    var items = historyModalBody.children('div');
                    historyModal.find('.modal-footer button[data-type="next"]').hide();
                    if (items.length == 0) {
                        historyModalBody.text(historyModalBody.data().empty);
                    } else if (items.length == 10) {
                        historyModal.find('.modal-footer button[data-type="next"]').show();
                    }
                    if (historyPage > 0) {
                        historyModal.find('.modal-footer button[data-type="prev"]').show();
                    } else {
                        historyModal.find('.modal-footer button[data-type="prev"]').hide();
                    }
                    items.each(function () {
                        var item = $(this);
                        item.children('pre').on('click', function () {
                            var commands = $('#managementQueryCommands');
                            if (commands.data().editor.getValue().trim() == '') {
                                commands.data().editor.setValue(
                                    item.children('pre').text()
                                );
                            } else {
                                commands.data().editor.setValue(
                                    commands.data().editor.getValue()
                                    + '\n'
                                    + ';;'
                                    + '\n'
                                    + item.children('pre').text()
                                );
                            }
                            historyModal.modal('hide');
                        });
                    });
                    historyModal[0].scrollTo(0, 0);
                });
            }
            $('#netuno-user-form-auth-history-button-modal_{util=requestuuid}').on("click", function () {
                historyPage = 0;
                historyModal.find('.modal-footer button[data-type="prev"]').hide();
                historyModal.find('.modal-footer button[data-type="next"]').show();
                historyModalLoadPage();
            });
            historyModal.find('.modal-footer button[data-type="prev"]').on("click", function () {
                historyPage--;
                historyModalLoadPage();
            });
            historyModal.find('.modal-footer button[data-type="next"]').on("click", function () {
                historyPage++;
                historyModalLoadPage();
            });
            $('#netuno-user-form-auth-history-button-unlock_{util=requestuuid}').click(function() {
                $.ajax({
                    type: 'POST',
                    url: url + '?execute=auth-unlock',
                    data: {
                        uid: '_{request=uid}'
                    },
                    success: function(response) {
                        container.html(response);
                        form = $('#netuno_user_form');
                        netuno.contentLoaded(container);
                    }
                });
            });
        })();

        var formRulesButton = $('a#netuno_user_form_rules_button');
        var reportRulesButton = $('a#netuno_user_report_rules_button');

        netuno.com.select.callbackForFieldId('netuno_user_form_user_uid', 'changed', function () {
            var that = $('#netuno_user_form_user_uid');
            if (netuno.com.select.netunoUserChanged == that.val()) {
                return;
            }
            form.off("submit");
            form.ajaxForm({
                url: url,
                success: function(response) {
                    container.html(response);
                    $('button#netuno_user_form_rules_button').fadeTo('fast', 1);
                    $('button#netuno_user_report_rules_button').fadeTo('fast', 1);
                    $('div#netuno_user_form_rules_container').hide();
                    $('div#netuno_user_report_rules_container').hide();
                    netuno.com.select.netunoUserChanged = that.val();
                    netuno.contentLoaded(container);
                }
            }).submit();
        });

        netuno.com.select.callbackForFieldId('netuno_user_form_user_group', 'changed', function () {
            formRulesButton.parent().removeClass('active');
            reportRulesButton.parent().removeClass('active');
            $('div#netuno_user_form_rules').empty();
            $('div#netuno_user_report_rules').empty();
            $('button#netuno_user_form_rules_button').fadeTo('fast', 1);
            $('button#netuno_user_report_rules_button').fadeTo('fast', 1);
            $('div#netuno_user_form_rules_container').hide();
            $('div#netuno_user_report_rules_container').hide();
        });

        formRulesButton.click(function () {
            formRulesButton.parent().removeClass('active').addClass('active');
            reportRulesButton.parent().removeClass('active');
            $('div#netuno_user_report_rules_container').hide();
            $('div#netuno_user_form_rules_container').fadeIn();
            var formRules = $('div#netuno_user_form_rules');
            if (formRules.is(':empty')) {
                $.ajax({type: "GET", url: url + "?service=form_rules&uid="+ $('#netuno_user_form_user_uid').val() +"&group_uid="+ $('#netuno_user_form_user_group').val(),
                    success: function (response) {
                        formRules.html(response);
                        netuno.contentLoaded(formRules);
                    }
                });
            }
        });

        reportRulesButton.click(function () {
            reportRulesButton.parent().removeClass('active').addClass('active');
            formRulesButton.parent().removeClass('active');
            $('div#netuno_user_form_rules_container').hide();
            $('div#netuno_user_report_rules_container').fadeIn();
            var reportRules = $('div#netuno_user_report_rules');
            if (reportRules.is(':empty')) {
                $.ajax({type: "GET", url: url + "?service=report_rules&uid="+ $('#netuno_user_form_user_uid').val() +"&group_uid="+ $('#netuno_user_form_user_group').val(),
                    success: function (response) {
                        reportRules.html(response);
                        netuno.contentLoaded(reportRules);
                    }
                });
            }
        });

    })();
</script>
