<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <i class="fa fa-database"></i> _{&lang=netuno.dev.query.title}
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-wrench"></i> _{&lang=netuno.dev.menu.management}
      </li>
      <li>
        <i class="fa fa-database"></i> _{&lang=netuno.dev.query.title}
      </li>
    </ol>
  </div>
</div>

<form id="formQuery" name="formQuery" method="post" action="Query_{netuno-config=extension}">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="managementQueryCommands">_{&lang=netuno.dev.query.label.commands}</label>
        <textarea id="managementQueryCommands" name="query" class="form-control" rows="10" code-editor="text/x-plsql">_{&request=query}</textarea>
      </div>
    </div>
  </div>
</form>
<div class="buttons">
	<button id="managementQueryButtonRun" type="button" class="btn btn-primary">_{lang=netuno.form.button.execute}</button>
</div>
<script>
  (function (netuno, $) {
    $('#managementQueryButtonRun').on("click", function () {
      netuno.submitDev('management_query', 'formQuery', false);
    });
  })(typeof netuno == 'undefined' ? parent.netuno : netuno, typeof $ == 'undefined' ? parent.$ : $);
</script>