<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <i class="fa fa-area-chart"></i> _{&lang=netuno.dev.report.title}

      <!-- <button id="managementReport_buttonNew" type="button" class="btn btn-default btn-action">
         _{&lang=netuno.dev.report.button.clear_fields}
      </button> -->
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-fw fa-wrench"></i> _{&lang=netuno.dev.menu.management}
      </li>
      <li>
        <i class="fa fa-area-chart"></i> _{&lang=netuno.dev.menu.management.report}
      </li>
    </ol>
  </div>
</div>

<form id="managementReport" name="managementReport" method="post" action="Report_{netuno-config=extension}">
  <input type="hidden" id="managementReport_execute" name="execute" value=""/>
  <div class="row netuno_form">
    <div class="col-lg-8">
      <div class="form-group">
        <h2>_{&lang=netuno.dev.report.label.edit_existing}</h2>
        <p>
          <select class="form-control" id="managementReport_uid" name="uid" onchange="netuno.submitDev('management_report', 'managementReport', false);">
            <option value="">_{&lang=netuno.dev.report.label.creating_new}</option>
            _{data=report.items}
          </select>
        </p>
        <p>
          <button id="managementReport_buttonNew" type="button" class="btn btn-default">
            _{&lang=netuno.dev.report.label.creating_new}
          </button>
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row netuno_form">
    <div class="col-lg-12">
        #if($data.getString("uid.value").isEmpty())
        <div class="row">
            <div class="col-lg-12">
                <h2>_{&lang=netuno.dev.report.label.add}</h2><br>
            </div>
        </div>
        #end
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="managementReport_displayName">* _{&lang=netuno.dev.report.label.displayname}</label>
            <input class="form-control" type="text" id="managementReport_displayName" name="displayname" value="_{&data=displayname.value}" size="50" validation="required">
          </div>
          <div class="form-group">
            <label for="managementReport_name">* _{&lang=netuno.dev.report.label.name}</label>
            <input class="form-control" type="text" id="managementReport_name" name="name" value="_{data=name.value}" size="50" validation="required sqlname">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-xs-6 col-sm-12">
              <div class="form-group">
                <label for="managementReport_controlUser">
                  <input type="checkbox" id="managementReport_controlUser" name="control_user" value="on"_{data=controluser.checked}/>
                  _{&lang=netuno.dev.report.label.controluser}
                </label>
              </div>
            </div>
            <div class="col-xs-6 col-sm-12">
              <div class="form-group">
                <label for="managementReport_controlGroup">
                  <input type="checkbox" id="managementReport_controlGroup" name="control_group" value="on"_{data=controlgroup.checked}/>
                  _{&lang=netuno.dev.report.label.controlgroup}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-12">
              <div class="form-group">
                <label for="managementReport_controlActive">
                  <input type="checkbox" id="managementReport_controlActive" name="control_active" value="on"_{data=controlactive.checked}/>
                  _{&lang=netuno.dev.report.label.controlactive}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-8">
              <div class="form-group">
                  <label for="managementReport_parent">_{&lang=netuno.dev.report.label.parent}</label>
                  <select class="form-control" name="parent_id" id="managementReport_parent">
                      <option value="0"></option>
                      _{data=parent.items}
                  </select>
              </div>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="managementForm__reorder">_{&lang=netuno.dev.form.label.reorder}</label>
                          <input type="text" class="form-control" id="managementForm__reorder" name="reorder" value="_{data=reorder.value}" size="10" maxlength="10" validation="number">
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="managementReport_user">* _{&lang=netuno.dev.report.label.user}</label>
                          <select class="form-control" name="user_uid" id="managementReport_user">
                              <option value="0"_{data=user.all.selected}>_{&lang=netuno.dev.report.label.user.all}</option>
                              <option value="-1"_{data=user.administrator.selected}>_{&lang=netuno.dev.report.label.user.administrator}</option>
                              <option value="-2"_{data=user.developer.selected}>_{&lang=netuno.dev.report.label.user.developer}</option>
                              _{data=user.options}
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="managementReport_group">* _{&lang=netuno.dev.report.label.group}</label>
                          <select class="form-control" name="group_uid" id="managementReport_group">
                              <option value="0"_{data=group.all.selected}>_{&lang=netuno.dev.report.label.group.all}</option>
                              <option value="-1"_{data=group.administrator.selected}>_{&lang=netuno.dev.report.label.group.administrator}</option>
                              <option value="-2"_{data=group.developer.selected}>_{&lang=netuno.dev.report.label.group.developer}</option>
                              _{data=group.options}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="more-options">
        <button class="btn btn-link btn-plus" type="button"
          data-toggle="collapse" data-target="#managementReport_collapseMore"
          aria-expanded="false" aria-controls="managementReport_collapseMore">
          <span class="text-primary">
            <i class="fa fa-plus"></i> _{&lang=netuno.dev.report.label.view_more_options}
          </span>
        </button>
        <div class="collapse" id="managementReport_collapseMore">
          <div class="form-group">
            <label for="managementReport_description">_{&lang=netuno.dev.report.label.description}</label>
            <textarea class="form-control" name="description" id="managementReport_description" rows="2">_{&data=description.value}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="buttons">
  <button id="managementReport_buttonSave" type="button" class="btn btn-primary">
    <i class="fa fa-check"></i> _{&lang=netuno.form.button.save}
  </button>
  <button id="managementReport_buttonClear" type="button" class="btn btn-default">
    _{&lang=netuno.dev.report.button.clear_fields}
  </button>
  <button id="managementReport_buttonDelete" type="button" class="btn btn-link" style="display: none;" data-toggle="modal" data-target="#modalManagementReport_delete">
    <span class="text-danger">
    <i class="fa fa-trash"></i> _{&lang=netuno.form.button.delete}
    </span>
  </button>
</div>

<div id="modalManagementReport_delete" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">_{&data=displayname.value}</h4>
      </div>
      <div class="modal-body">
        <p>_{&lang=netuno.dev.report.confirm.delete.text}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">_{&lang=netuno.form.button.no}</button>
        <button type="button" id="modalManagementReport_delete_yes" class="btn btn-danger">_{&lang=netuno.form.button.yes}</button>
      </div>
    </div>
  </div>
</div>

<script>
  (function (netuno, $) {
    $('#managementReport_displayName').on('keyup', function () {
      var that = $(this);
      $('#managementReport_name').val(S(that.val()).latinise().camelize().dasherize().replaceAll('-', '_').chompLeft('_').s)
    });
    $('#managementReport_buttonNew,#managementReport_buttonClear').on("click", function () {
      $('#managementReport_execute').val('new');
      $('#managementReport_uid').val('');
      if (!netuno.submitDev('management_report', 'managementReport', false)) {
        $('#managementReport_execute').val('');
      }
    });
    $('#managementReport_buttonSave').on("click", function () {
      $('#managementReport_execute').val('save');
      if (!netuno.submitDev('management_report', 'managementReport', true, function () {
          netuno.loadDevMenu();
      })) {
        $('#managementReport_execute').val('');
      }
    });
    $('#modalManagementReport_delete_yes').on("click", function () {
      $('#modalManagementReport_delete').modal('hide');
      $('#managementReport_execute').val('delete');
      if (!netuno.submitDev('management_report', 'managementReport', false)) {
        $('#managementReport_execute').val('');
      }
    });
    if ($('#managementReport_uid').val() != '') {
      $('#managementReport_buttonDelete').show();
    }
    netuno.loadValidationDev('managementReport');
    $("#managementReport_description").summernote({
        height: 80
    });
  })(typeof netuno == 'undefined' ? parent.netuno : netuno, typeof $ == 'undefined' ? parent.$ : $);
</script>
