<h1>_{lang=netuno.log.title}</h1>
<form id="netunoAdminLog" name="netunoAdminLog" method="post" action="/w7c1if/Log_{netuno-config=extension}">
    <table class="netuno_form">
        <tr>
            <td class="netuno_field" style="width: 100%;" colspan="2">
                <div class="netuno_field_label">_{lang=netuno.log.table}</div>
                <select name="table_id" id="netuno_log_table_id" />
            </td>
        </tr>
        <tr>
            <td class="netuno_field" style="width: 50%;">
                <div class="netuno_field_label">_{lang=netuno.log.user}</div>
                <input type="hidden" name="user_id" id="netuno_log_user_id" value="" />
            </td>
            <td class="netuno_field" style="width: 50%;">
                <div class="netuno_field_label">_{lang=netuno.log.group}</div>
                <input type="hidden" name="group_id" id="netuno_log_group_id" value="" />
            </td>
        </tr>
        <tr>
            <td class="netuno_field" style="width: 50%;">
                <div class="netuno_field_label">_{lang=netuno.log.timestamp.start}</div>
                <input type="text" name="start" id="netuno_log_start" value="" maxlength="19" validation="datetime" />
                <script>$.netuno.loadDateTimePicker('netuno_log_start');</script>
            </td>
            <td class="netuno_field" style="width: 50%;">
                <div class="netuno_field_label">_{lang=netuno.log.timestamp.end}</div>
                <input type="text" name="start" id="netuno_log_end" value="" maxlength="19" validation="datetime" />
                <script>$.netuno.loadDateTimePicker('netuno_log_end');</script>
            </td>
        </tr>
        <tr>
            <td class="netuno_field" style="width: 50%;">
                <div class="netuno_field_label">_{lang=netuno.log.action}</div>
                <select name="action_id" id="netuno_log_action_id">
                    <option value="0"></option>
                    <option value="1">_{lang=netuno.log.action.insert}</option>
                    <option value="2">_{lang=netuno.log.action.update}</option>
                    <option value="3">_{lang=netuno.log.action.delete}</option>
                </select>
            </td>
            <td class="netuno_field" style="width: 50%;">
                <div class="netuno_field_label">_{lang=netuno.log.item}</div>
                <input type="text" name="item_id" id="netuno_log_item_id" value="" maxlength="10" validation="numeric" />
            </td>
        </tr>
    </table>
</form>
<div class="netuno_buttons" id="netunoAdminLogButtons">
	<button class="blue glyph search" onclick="$.netuno.search.loadDataTable('_{request=netuno_table_uid}');">
		_{lang=netuno.form.button.search}
	</button>
</div>
<table id="netunoAdminLogTable" style="width: 100%;" class="table">
	<thead>
		<tr>
			<th>_{lang=netuno.log.id}</th>
			<th>_{lang=netuno.log.table}</th>
			<th>_{lang=netuno.log.user}</th>
			<th>_{lang=netuno.log.group}</th>
			<th>_{lang=netuno.log.timestamp}</th>
			<th>_{lang=netuno.log.action}</th>
			<th>_{lang=netuno.log.item}</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<script>
$.netuno.loadDynamicSelect('netuno_log_user_id', 'User_{netuno-config=extension}?service=json');
$.netuno.loadDynamicSelect('netuno_log_group_id', 'Group_{netuno-config=extension}?service=json');
</script>