<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/bootstrap.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/datatables-tabletools/js/dataTables.tableTools.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/datatables-plugins-bootstrap3/dist/js/datatables-plugins-bootstrap3.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery-form/jquery.form.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/summernote/dist/summernote.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/editor.md/editormd.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/stringjs/dist/string.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/moment/min/moment.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/numeral/min/numeral.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/numeral/min/languages.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/underscore/underscore-min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/chart.js/dist/Chart.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/bootstrap-confirmation2/bootstrap-confirmation.min.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/additional-methods.js"></script>
<script type="text/javascript" src="_{netuno-config=url-scripts}/netuno/core.js?_{netuno-config=build-number}"></script>
_{include=scripts}
</body>
</html>