<script src="_{netuno-config=url-theme}/vendor/jquery/jquery.min.js"></script>
<script src="_{netuno-config=url-theme}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="_{netuno-config=url-theme}/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="_{netuno-config=url-theme}/vendor/datatables/jquery.dataTables.js"></script>
<script src="_{netuno-config=url-theme}/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="_{netuno-config=url-theme}/js/sb-admin.min.js"></script>

<!--script src="_{netuno-config=url-scripts}/plugins/boosted/dist/js/boosted.bundle.min.js"></script-->

<script src="_{netuno-config=url-scripts}/plugins/jquery-form/dist/jquery.form.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/string/dist/string.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/moment/min/moment.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/numeral/min/numeral.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/numeral/min/locales.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/underscore/underscore-min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

<script src="_{netuno-config=url-scripts}/plugins/toastr/toastr.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/select2/dist/js/select2.full.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/jquery.validate.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/additional-methods.js"></script>

<script src="_{netuno-config=url-scripts}/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/trumbowyg/dist/trumbowyg.min.js"></script>

<script src="_{netuno-config=url-scripts}/netuno/core.js"></script>
_{include=scripts}
</body>
</html>