<script src="_{netuno-config=url-theme}/vendor/jquery/jquery.min.js"></script>
<script src="_{netuno-config=url-theme}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="_{netuno-config=url-theme}/vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="_{netuno-config=url-scripts}/plugins/toastr/toastr.min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/jquery-form/jquery.form.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/underscore/underscore-min.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/jquery.validate.js"></script>
<script src="_{netuno-config=url-scripts}/plugins/jquery-validation/dist/additional-methods.js"></script>
<script src="_{netuno-config=url-scripts}/netuno/core.js"></script>
_{include=scripts_login}
</body>
</html>