<div class="form-group">
	<label for="componentConfig_{request=netuno_table_uid}__{data=parameter.key}">
		<input type="checkbox" id="componentConfig_{request=netuno_table_uid}__{data=parameter.key}" name="netuno_admin_component_configuration__{data=parameter.key}" value="true"/>
		_{data=parameter.displayname}
	</label>
	<script>netuno.componentConfig.boolean.load('_{request=netuno_table_uid}', '_{data=parameter.key}', '_{data=parameter.defaultvalue}', '_{data=parameter.value}');</script>
</div>