<div class="form-group">
	<label for="componentConfig_{request=netuno_table_uid}__{data=parameter.key}">_{data=parameter.displayname}</label>
	<select id="componentConfig_{request=netuno_table_uid}__{data=parameter.key}" name="netuno_admin_component_configuration__{data=parameter.key}" class="form-control" style="width: 100%;"/>
	<script>netuno.componentConfig.choice.load('_{request=netuno_table_uid}', '_{data=parameter.key}', '_{data=parameter.defaultvalue}', '_{data=parameter.value}');</script>
</div>