<div class="row title-row">
	<div class="col-lg-12">
		<h1 class="page-header">
          <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-8">
			  <i class="fa fa-edit"></i> _{&lang=netuno.dev.form.form}
			  <span class="badge badge-warning">_{&data=title}</span>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              _{data=button-new}
            </div>
          </div>
		</h1>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-edit"></i> _{&lang=netuno.menu.forms}
			</li>
			<li>
				_{&data=title}
			</li>
		</ol>
        <div>
            _{?&data=description}
        </div>
	</div>
</div>
