
body {
    background-color: #fff;
    /* overflow-x: hidden; */
    margin-top: 50px !important;
}

.netuno-toast-top-center {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.netuno-login .logo {
    margin-bottom: 40px;
}

.netuno-login .logo > img {
    width: 100%;
    max-width: 500px;
    max-height: 300px
}

.top-nav.hidden-md.hidden-lg {
    padding: 0 0 0 0 !important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    z-index: 1000;
}

.navbar-brand {
    padding: 5px;
    padding-left: 15px;
}

.navbar-brand > img {
    max-height: 40px;
    height: 40px;
}

.navbar-nav ul li:nth-of-type(n+1) a{
    padding-left: 50px !important;
}

.error {
    color: #a94442;
    font-weight: normal;
}

.nav-section-title {
    border-top: 1px solid transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
    width: 100%;
    color: #666;
    padding-top: 5px;
    padding-left: 10px;
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-nav>li a[netuno-form] {
    padding-left: 35px;
}

.navbar-nav>li a[netuno-report] {
    padding-left: 35px;
}

.netuno-form-edit-new-title {
    margin-top: 20px;
}

.netuno-form-buttons {
    margin-top: 20px;
}

.netuno-user-providers-container > div:first-child {
    margin-top: 20px;
    margin-bottom: 20px;
}

.netuno-rules-container > div:first-child {
    margin-top: 20px;
    margin-bottom: 20px;
}

.netuno-rules-item-container > div:nth-child(2) {
    padding-left: 20px;
}

.container-fluid {
    min-height: calc(100vh - 70px) !important;
}

.netuno-about {
    margin-top: 50px;
    color: #666666;
    text-align: center;
    font-size: 12px;
}
.netuno-copy {
    margin-top: 5px;
    color: #666666;
    text-align: center;
    font-size: 12px;
}

.navbar-inverse {
    background-color: #3f54ba;
}

.top-nav.hidden-md.hidden-lg {
    padding: 6px 0 0 0;
}

.side-nav {
    top: 51px;
}

.nav-dashboard, .navbar-nav {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

@media only screen and (max-width: 768px) {
    .navbar-inverse .navbar-toggle {
        background-color: #aaa;
        border-color: #aaa;
        transition-duration: 0.25s
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #000;
        border-color: #000;
    }
    .side-nav > ul a:hover {
        background-color: #dadada !important;
    }
    .side-nav .nav li>a, .nav-section-title h4 {
        color: #000 !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: #e8e8e8;
    }
}

.netuno-loader,
.netuno-loader:before,
.netuno-loader:after {
  border-radius: 50%;
}
.netuno-loader {
  color: #5b5ce1;
  font-size: 11px;
  text-indent: -99999em;
  margin: 2em auto;
  position: relative;
  width: 4em;
  height: 4em;
  box-shadow: inset 0 0 0 1.0em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.netuno-loader:before,
.netuno-loader:after {
  position: absolute;
  content: '';
}
.netuno-loader:before {
  width: 2.2em;
  height: 4.2em;
  background: #ffffff;
  border-radius: 4.2em 0 0 4.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 2.1em 2.1em;
  transform-origin: 2.1em 2.1em;
  -webkit-animation: netuno-load-frames 2s infinite ease 1.5s;
  animation: netuno-load-frames 2s infinite ease 1.5s;
}
.netuno-loader:after {
  width: 2.2em;
  height: 4.2em;
  background: #ffffff;
  border-radius: 0 4.2em 4.2em 0;
  top: -0.1em;
  left: 1.9em;
  -webkit-transform-origin: 0.1em 2.1em;
  transform-origin: 0.1em 2.1em;
  -webkit-animation: netuno-load-frames 2s infinite ease 0.5s;
  animation: netuno-load-frames 2s infinite ease 0.5s;
}
@-webkit-keyframes netuno-load-frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes netuno-load-frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.btn-primary {
    background-color: #3f54ba;
    border-color: #35479c;
}

.btn-primary:hover {
    background-color: #3b54ce;
    border-color: #3b54ce;
}

.btn-default {
    background-color: #eaeaea;
    border-color: #ccc;
}

.btn-link {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
    border: 1px solid #adadad
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > li.active > a,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #2239ab;
}

.dev .navbar-inverse {
    background-color: #333333;
}

.dev .btn-primary {
    background-color: #333333;
    border-color: #272727;
}

.dev .btn-primary:hover {
    background-color: #424141;
    border-color: #272727;
}

.dev .top-nav > li > a:hover,
.dev .top-nav > li > a:focus,
.dev .top-nav > li.active > a,
.dev .top-nav > .open > a,
.dev .top-nav > .open > a:hover,
.dev .top-nav > .open > a:focus {
    background-color: #000;
}

.dropdown button {
    padding: 15px;
    line-height: 20px;
    background: transparent;
    border: 0;
    color: #fff;
}

.field-link-content .btn {
    margin-top: 5px;
}

.modal .export-content {
    display: none;
}

.modal .breadcrumb {
    display: none;
}

.search-content {
    margin-top: 20px;
}

.search-content .btn-search,
.search-content .btn-filter,
#netuno_user_form .btn-auth-history,
#netuno_user_form .btn-auth-history-unlock {
    padding: 3px;
    background-color: #3f53bb;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
}

#netuno_user_form .btn-auth-history-unlock {
    background-color: #5cb85c;
    padding-bottom: 0;
}

.search-content .btn-search i.fa-search,
.search-content .btn-search i.fa-filter,
 #netuno_user_form .btn-auth-history i.fa-clock-o,
 #netuno_user_form .btn-auth-history-unlock i.fa-unlock-alt {
    font-size: 17px;
    color: #fff;
    margin: 0px 3px;
    position: relative;
    top: -1px;
}

#netuno_user_form .btn-auth-history-unlock i.fa-unlock-alt {
    margin-top: 3px;
}

.search-content h2 {
    display: inline-block;
}

.no-form {
    display: none;
}

.with-form {
    display: none;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #3f54ba;
    border-color: #3f54ba;
}

.panel-primary {
    border-color: #3f54ba;
}

.dev .panel-primary > .panel-heading {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}

.dev .panel-primary {
    border-color: #333333;
}

a {
    color: #3f54ba;
}

.netuno-com-datetime .clockpicker {
    padding-top: 5px;
}
@media (min-width: 480px) {
    .netuno-com-datetime .clockpicker {
        padding-top: unset;
    }
}

#netuno-modal-curtain {
    position: fixed;
    display: block;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    rigth: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#netuno-modal-close {
    cursor: pointer;
    position: fixed;
    z-index: 12000;
    top: 5px;
    right: 5px;
    color: #000000;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.netuno-modal {
    position: fixed;
    z-index: 11000;
    overflow: auto;
    top: 24px;
    bottom: 24px;
    left: 20px;
    right: 20px;
    background-color: #ffffff;
    width: calc(100vw - 40px);
    height: calc(100vh - 48px);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 480px) {
    #netuno-modal-close {
        top: 10px;
        right: 10px;
    }
    .netuno-modal {
        top: 29px;
        bottom: 29px;
        left: 25px;
        right: 25px;
        width: calc(100vw - 50px);
        height: calc(100vh - 58px);
    }
}

@media (min-width: 768px) {
    #netuno-modal-close {
        top: 15px;
        right: 35px;
    }
    .netuno-modal {
        top: 34px;
        bottom: 34px;
        left: 50px;
        right: 50px;
        width: calc(100vw - 100px);
        height: calc(100vh - 68px);
    }
}
@media (min-width: 992px) {
    #netuno-modal-close {
        top: 20px;
        right: 85px;
    }
    .netuno-modal {
        top: 38px;
        bottom: 38px;
        left: 100px;
        right: 100px;
        width: calc(100vw - 200px);
        height: calc(100vh - 76px);
    }
}
@media (min-width: 1200px) {
    #netuno-modal-close {
        top: 26px;
        right: 135px;
    }
    .netuno-modal {
        top: 44px;
        bottom: 44px;
        left: 150px;
        right: 150px;
        width: calc(100vw - 300px);
        height: calc(100vh - 88px);
    }
}

.select2-container--bootstrap .select2-dropdown, .popover {
    z-index: 50000 !important;
}

.bootstrap-switch {
    margin-top: 2px;
    margin-bottom: 2px;
}

.netuno-search-table tr {
    cursor: pointer;
}

.netuno-search-table tr.odd:hover, .netuno-search-table tr.even:hover {
    background-color: #ececec;
}

.netuno-search-table tr.selected.odd {
    background-color: #ffddcc;
}

.netuno-search-table tr.selected.even {
    background-color: #ffc7ab;
}

.netuno-search-table tr.selected.odd:hover, .netuno-search-table tr.selected.even:hover {
    background-color: #f0a986;
}

.netuno-admin-log-results > div {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 0 10px 10px 10px; 
}

.netuno-admin-log-results > div > div {
    margin-top: 10px;
}

.netuno-admin-log-results > div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.netuno-admin-log-detail .modal-body > div {
    margin-top: 10px;
    margin-bottom: 10px;
}
