<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
		 version="6.0">
	<display-name>netuno-web</display-name>
	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>log4jContextName</param-name>
		<param-value>netuno</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>/WEB-INF/log.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>NetunoProteuEnterprise</servlet-name>
		<servlet-class>org.netuno.proteu.Enterprise</servlet-class>
		<multipart-config>
			<location>tmp</location>
			<max-file-size>104857600000</max-file-size>
			<max-request-size>1048576000000</max-request-size>
			<file-size-threshold>52428800</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>NetunoProteuEnterprise</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
