<div class="container netuno-login">
    <div class="row">
        <div class="col-lg-12 text-center logo">
            <img src="_{netuno-config=url-app-images}/logo.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <div>
                <p>A licen&ccedil;a atual expirou, por favor renove em <a target="_blank" href="https://www.netuno.org">netuno.org</a></p>
            </div>
        </div>
    </div>
</div>