
<div class="row">
  <div class="col-lg-12">

    <div class="with-form">
      <h1 class="page-header">
        _{&lang=netuno.main.dashboard.title}
      </h1>
    </div>


    <div class="no-form">
      <h1 class="page-header">
        _{&lang=netuno.main.dashboard.welcome_netuno}
      </h1>
      <p>_{&lang=netuno.main.dashboard.you_not_form}</p>
      <p>_{&lang=netuno.main.dashboard.you_can_start_by_clicking_top_bar}</p>
      <br>
      <img src="_{netuno-config=url-styles}/build-button-tutorial.png" height="80">
    </div>
  </div>
</div>

<div id="app-dashboard"></div>
